<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

	<display-name>CardPlanner</display-name>

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>maxUploadSize</param-name>
		<param-value>32768000</param-value>
	</context-param>
	<context-param>
		<param-name>root</param-name>
		<param-value>/CardPlanner</param-value>
	</context-param>
	<context-param>
		<param-name>applicationName</param-name>
		<param-value>CardPlanner</param-value>
	</context-param>
	<context-param>
		<param-name>applicationVersion</param-name>
		<param-value>6.3.2</param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>/CardPlanner.root</param-value>
	</context-param>
	<context-param>
		<param-name>resourceRoot</param-name>
		<param-value>uk.co.itstherules.cardplanner.view</param-value>
	</context-param>
	<context-param>
		<param-name>controllerRoot</param-name>
		<param-value>uk.co.itstherules.cardplanner.controller.active</param-value>
	</context-param>
	<context-param>
		<param-name>viewRoot</param-name>
		<param-value>uk.co.itstherules.cardplanner.view.active</param-value>
	</context-param>
	<context-param>
		<param-name>defaultHomePage</param-name>
		<param-value>/StoryBoard/Show/0/index.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>binaryExtensions</param-name>
		<param-value>.gif,.png,.jpg,.jpeg,.zip,.ico</param-value>
	</context-param>
	<context-param>
		<param-name>captcha</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>captchaPublicKey</param-name>
		<param-value>6LeuO78SAAAAADBSWUk5dBSwwjR_BhyIjiXQvXtf</param-value>
	</context-param>
	<context-param>
		<param-name>captchaPrivateKey</param-name>
		<param-value>6LeuO78SAAAAACwS-SJiy3wi2hnBFfRs3_mQoc2Q</param-value>
	</context-param>
    <filter>
      <filter-name>clientIdentity</filter-name>
      <filter-class>uk.co.itstherules.cardplanner.filter.ClientIdentityFilter</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>clientIdentity</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
	<servlet>
		<servlet-name>CardPlanner</servlet-name>
		<description>CardPlanner Application</description>
		<servlet-class>uk.co.itstherules.yawf.servlet.YAWFServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CardPlanner</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<session-config>  
		<session-timeout>100</session-timeout>  
	</session-config>
	
	<listener>
		<listener-class>uk.co.itstherules.yawf.model.EntityManagerListener</listener-class>
	</listener>
    <listener>
        <listener-class>uk.co.itstherules.cardplanner.controller.shared.SharedObjectSpacesListener</listener-class>
    </listener>
    <listener>
        <listener-class>uk.co.itstherules.cardplanner.listener.CardPlannerListener</listener-class>
    </listener>


    <!--TODO: ProcessStepRegisterListener requires the processRoot in order to find the process steps - need to make the dependency more explicit -->
    <context-param>
   		<param-name>processRoot</param-name>
   		<param-value>uk.co.itstherules.cardplanner.controller.processor.active</param-value>
   	</context-param>
    <listener>
        <listener-class>uk.co.itstherules.yawf.controller.processor.ProcessStepRegisterListener</listener-class>
    </listener>


	<locale-encoding-mapping-list>
		<locale-encoding-mapping>
			<locale>ar</locale>
			<encoding>ISO-8859-6</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>be</locale>
			<encoding>ISO-8859-5</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>bg</locale>
			<encoding>ISO-8859-5</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>ca</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>cs</locale>
			<encoding>ISO-8859-2</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>da</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>de</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>el</locale>
			<encoding>ISO-8859-7</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>en</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>es</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>et</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>fi</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>fr</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>hr</locale>
			<encoding>ISO-8859-2</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>hu</locale>
			<encoding>ISO-8859-2</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>is</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>it</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>iw</locale>
			<encoding>ISO-8859-8</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>ja</locale>
			<encoding>Shift_JIS</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>ko</locale>
			<encoding>EUC-KR</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>lt</locale>
			<encoding>ISO-8859-2</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>lv</locale>
			<encoding>ISO-8859-2</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>mk</locale>
			<encoding>ISO-8859-5</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>nl</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>no</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>pl</locale>
			<encoding>ISO-8859-2</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>pt</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>ro</locale>
			<encoding>ISO-8859-2</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>ru</locale>
			<encoding>ISO-8859-5</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>sh</locale>
			<encoding>ISO-8859-5</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>sk</locale>
			<encoding>ISO-8859-2</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>sl</locale>
			<encoding>ISO-8859-2</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>sq</locale>
			<encoding>ISO-8859-2</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>sr</locale>
			<encoding>ISO-8859-5</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>sv</locale>
			<encoding>ISO-8859-1</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>tr</locale>
			<encoding>ISO-8859-9</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>uk</locale>
			<encoding>ISO-8859-5</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>zh</locale>
			<encoding>GB2312</encoding>
		</locale-encoding-mapping>
		<locale-encoding-mapping>
			<locale>zh_TW</locale>
			<encoding>Big5</encoding>
		</locale-encoding-mapping>
	</locale-encoding-mapping-list>
</web-app>
